* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix {
    content: '';
    display: table;
    clear: both;
}

.lt-gry {
    color: lightgray;
}

.white {
    color: white
}

aside {
    width: 200px;
    height: calc(100vh - 100px);
    padding: 0 20px;
    line-height: 2.0;
    background-color: #040404;
    float: left;
    display: flex;
    flex-direction: column;
}

header {
    width: calc(100% - 200px);
    height: 90px;
    background-color: #090909;
    float: left;
}

main {
    width: calc(100% - 200px);
    height: calc(100vh - 190px);
    background-color: #121212;
    float: left;
    overflow-y: auto;
}

.player {
    height: 100px;
    width: 100%;
    background-color: #39464e;
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
}

.img-as {
    height: 90px;
    display: flex;
    align-items: center;
}

.img-as img {
    height: 50px;
}

.item-2 .asd-fa {
    margin-right: 5px;
}

.pl-list {
    overflow-y: auto;
}

.pl-lst .asd-fa {
    margin-right: 5px;
}

.pl-lst .asd-fa {
    padding: 5px;
    background-color: lightgray;
    color: black;
}

.gw-d {
    flex-grow: 1
}

.btm-bdr {
    border-bottom: 1px solid lightgray;
}

.ad-btm .fa {
    margin-right: 5px;
}

aside .assd-fa,.asd-p:hover {
    color: white;
    cursor: pointer;
}

.fa {
    font-size: 30px;
}

.fx {
    display: flex;
    align-items: center;
}

/* HEADER */

.btg-upgrade {
    float: right;
}

button {
    margin: 25px 35px;
    padding: 10px 30px;
    border: 1px solid white;
    border-radius: 20px;
    color: white;
    background-color: #090909;

}

.btg-upgrade {
    transition: all 1s;
}

.btg-upgrade:hover {
    transform: scale(0.9);
}

/* MAIN */

.nav-b ul {
    display: flex;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
}

li {
    margin: 20px;
}

li a {
    text-decoration: none;
    color: lightgray;
}

.nav-b a:hover {
    color: white;
    cursor: pointer;
}

.txt-abm h2 {
    margin: 25px;
    color: white;
}

.abm-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    text-align: center;
    line-height: 1.8;
}

.img-abm .fix-img {
    height: 200px;
    width: 200px;
    margin-left: 25px;
    position: relative;
}

.fix-img img {
    height: 100%;
}

.fix-img i {
    font-size: 50px;
    color: lightgray;
}

.abm-top span {
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(75px, 75px);
    display: none;
}

.img-abm:hover span {
    display: block;
}

/* PLAYER */

.player .sx {
    flex: 0 0 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.player .ctr {
    flex: 1 1;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.player .dx {
    flex: 0 0 200px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.player .fa {
    font-size: 15px;
    margin-left: 10px;
    color: white;
}

.abm-plr img {
    height: 50px;
}

.txt-plr p {
    font-size: 12px;
}

.player p {
    margin: 0 10px;
    color: white;
}

.prg {
    display: flex;
}

.progress {
    height: 5px;
    width: 400px;
    background-color: white;
    border-radius: 2px;
    align-self: center;
}

.progress-sml {
    height: 5px;
    width: 80px;
    margin: 0 10px;
    background-color: white;
    border-radius: 2px;
    align-self: center;

}

.fa-item {
    margin-bottom: 25px;
}


/* MEDIA QUERY  */

@media screen and (max-width: 768px) {
    aside {
        width: 70px;
    }

    header {
        width: calc(100% - 70px);
        height: 90px;
    }

    main {
        width: calc(100% - 70px);
        height: calc(100vh - 190px);
    }

    .img-as img {

    }

    aside .asd-p,.dp-none {
        display: none;
    }
}

@media screen and (max-width: 899px) {
    /* .itm-plr .fa-item,.prg {
        display: none;
    } */

    .progress {
        width: 100px;
    }
}
