* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix {
    content: '';
    display: table;
    clear: both;
}

.lt-gry {
    color: lightgray;
}

aside {
    width: 200px;
    height: calc(100vh - 100px);
    padding: 0 20px;
    line-height: 2.0;
    background-image: linear-gradient(to right, black 0%, #434343 100%);
    float: left;
    display: flex;
    flex-direction: column;
}

header {
    width: calc(100% - 200px);
    height: 90px;
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    float: left;
}

main {
    width: calc(100% - 200px);
    height: calc(100vh - 90px);
    background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
    float: left;
    overflow-y: auto;
}

.player {
    height: 100px;
    width: 100%;
    background-image: linear-gradient(to right, #d7d2cc 0%, #304352 100%);
    position: fixed;
    left: 0;
    bottom: 0;
}

.img-as {
    height: 90px;
    display: flex;
    align-items: center;
}

.img-as img {
    height: 50px;
}

.item-2 .asd-fa {
    margin-right: 5px;
}

.pl-list {
    overflow-y: auto;
}

.pl-lst .asd-fa {
    margin-right: 5px;
}

.pl-lst .asd-fa {
    padding: 5px;
    background-color: lightgray;
    color: black;
}

.gw-d {
    flex-grow: 1
}

.btm-bdr {
    border-bottom: 1px solid lightgray;
}

.ad-btm .fa {
    margin-right: 5px;
}

aside .assd-fa,.asd-p:hover {
    color: white;
    cursor: pointer;
}

.fa {
    font-size: 30px;
}

.fx {
    display: flex;
    align-items: center;
}

/* HEADER */

.btg-upgrade {
    float: right;
}

button {
    margin-top: 25px;
    padding: 10px 30px;
    border: 1px solid white;
    border-radius: 20px;
    color: white;
    background-image:linear-gradient(to top, #09203f 0%, #537895 100%);

}

/* MAIN */

.nav-b ul {
    display: flex;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
}

li {
    margin: 20px;
}

li a {
    text-decoration: none;
    color: lightgray;
}









/* MEDIA QUERY  */

@media screen and (max-width: 768px) {
    aside {
        width: 70px;
    }

    header {
        width: calc(100% - 70px);
        height: 90px;
    }

    main {
        width: calc(100% - 70px);
        height: calc(100vh - 90px);
    }

    .img-as img {

    }

    aside .asd-p,.dp-none {
        display: none;
    }
}
